@font-face {
    font-family: 'myFont';
    src: url("AlegreSans-Regular.ttf");
}


/* Setting up the table */
table,
th,
td {
    z-index: 1;
    border: 1px solid black;
    
}

td {
    font-family: 'myFont';
    font-size: 38px;
    text-align: center;
    width: 330px;
    height: 80px;
}


/* Video CSS */
#backVid {
    position: fixed;
    right: 0;
    bottom: 0;
    object-fit: fill;
    z-index: -100;
}


/* Button CSS */
#videoButton, 
#audioButton,
#pauseButton {
    height: 30px;
    width: 100px;
    font-size: 24px;
    font-family: "myFont";
    opacity: 0.5;
}

#videoButton:hover, 
#audioButton:hover,
#pauseButton:hover {
    opacity: 1;
}

.changeDiv {
    float: right;
    overflow: hidden;
}

#changeButton {
    position: absolute;
    left: 92%;
    top: 0.6%;
    height: 30px;
    width: 140px;
    font-size: 24px;
    font-family: "myFont";
    opacity: 0.5;
}

.changeDiv input[type=file] {
    position: absolute;
    left: 92%;
    top: 0.6%;
    height: 30px;
    width: 140px;
    opacity: 0;
}

#tableButton {
    position: absolute;
    left: 0.5%;
    bottom: 1%;
    height: 30px;
    width: 140px;
    font-size: 24px;
    font-family: "myFont";
    opacity: 0.5;
}

#tableButton:hover {
    opacity: 1;
}

#hideButton {
    height: 30px;
    width: 140px;
    font-size: 24px;
    font-family: "myFont";
    opacity: 0.5;
}


/* CSS for the table */
#main {
    position: absolute;
    left: 15%;
    top: 5%;
    width: 70%;
    display: block;
    background-color:  rgba(255,255,255,0.99);
}

#s1 {
    width: 10%;
}

#m1 {
    width: 15%;
}
