@font-face {
    font-family: 'myFont';
    src: url("AlegreSans-Regular.ttf");
}

table,
th,
td {
    z-index: 1;
    border: 1px solid black;
    
}

td {
    font-family: 'myFont';
    font-size: 38px;
    text-align: center;
    width: 330px;
    height: 80px;
}

#backVid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
}

#main {
    background-color:  rgba(255,255,255,0.98);
    margin-top: 50px;
}

#hideVid, 
#vidAudio {
    height: 30px;
    width: 100px;
    font-size: 24px;
    font-family: "myFont";
}